@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    padding: 0;
    margin: 0; 
}

.frontend.enter {
}
.frontend.enter-active {
} 
.frontend.exit {
}
.frontend.exit-active {
}

@layer components {
    .background-image {
        background: url("/campfire.gif");   
        background-size: 150% 150%;   
        background-position: 50% 50%;

        @apply fixed top-0 left-0 w-full h-full bg-no-repeat bg-fixed -z-10;
    }

    .header {
        @apply flex justify-center items-center h-full w-full min-w-[320px] p-2 sm:p-6 md:p-10 lg:p-14 overflow-hidden;
    }

    .header-content {
        @apply flex flex-col justify-center items-center w-4/5 sm:h-4/5 h-2/5 bg-slate-700 text-center bg-opacity-60 rounded-3xl backdrop-blur-xl overflow-hidden transition-all;
    }

    .main-header {
        animation: slot-in-left-to-right .5s cubic-bezier(1, 1, 1, 1) forwards;

        @apply m-1 lg:text-9xl md:text-8xl sm:text-7xl text-5xl transition-all select-none pointer-events-none;
    }

    .sub-header {
        animation: slot-in-right-to-left .5s cubic-bezier(1, 1, 1, 1) .25s forwards;

        @apply m-1 text-center lg:text-6xl md:text-5xl sm:text-4xl text-2xl opacity-0 transition-all select-none pointer-events-none;
    }

    .hero-blob {
        animation: rotate 8s ease-in infinite;

        @apply absolute w-[320px] aspect-square bg-gradient-to-r from-pink-700 from-25% via-slate-600 via-15% to-purple-500 rounded-full filter blur-xl opacity-50 -z-10;
    }

    .arrow {
        animation: hop-up .25s cubic-bezier(1, 1, 1, 1) 4s forwards;

        @apply absolute flex bottom-0 left-1/2 p-2 bg-slate-600 hover:bg-slate-500 border-[3px] border-slate-700 hover:border-slate-600 rounded-full shadow-slate-600 hover:shadow-md hover:shadow-slate-800 shadow-sm opacity-0 hover:scale-125 transition-all;
    }

    .main {
        @apply relative flex justify-center items-start h-full w-full min-w-[320px] transition-all overflow-hidden;
    }

    .main-arrow {
        animation: fade-in 1s ease-in 2s forwards;

        @apply absolute p-1 top-1/2 bg-slate-300 hover:bg-slate-100 rounded-full lg:scale-[1.75] md:scale-[1.5] sm:scale-[1.3] lg:hover:scale-[1.8] md:hover:scale-[1.55] sm:hover:scale-[1.35] opacity-0 transition-all z-10;
    }

    .main-arrow.left {
        @apply lg:left-4 md:left-3 sm:left-2 left-1;
    }

    .main-arrow.right {
        @apply lg:right-4 md:right-3 sm:right-2 right-1;
    }

    .section {
        @apply relative flex flex-col h-full w-full p-2 sm:p-4 md:p-5 lg:p-6 min-w-[320px] transition-all;

        transition-duration: 500ms;
    }

    .section-header {
        @apply self-center lg:text-7xl md:text-5xl sm:text-3xl text-xl;
    }

    .section-sub-headers {
        @apply flex gap-2 self-center lg:m-5 md:m-4 sm:m-3 m-2 lg:text-2xl md:text-xl sm:text-lg text-sm;
    }

    .section-content {
        @apply relative flex-1 overflow-hidden;
    }

    .article-scroller {
        transform: translate(0%, 0%);

        @apply absolute flex justify-center items-center gap-2 h-full w-full;
    }

    .article-trim {
        @apply h-3/5 w-4/5;
    }

    .article {
        @apply h-full w-full min-w-[400px] bg-slate-400;
    }

    .footer {
        @apply h-1/6 w-full;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: initial;
    }
}

@keyframes hop-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        bottom: 4rem;
    }
}

@keyframes slot-in-left-to-right {
    from {
        transform: translateX(-600%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 100;
    }
}

@keyframes slot-in-right-to-left {
    from {
        transform: translateX(600%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 100;
    }
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

/* @keyframes build-out {
    0%, 12.5%{
        display: none;
        width: 5%;
        opacity: 0;
    }
     25%, 37.5%{
        opacity: 33%;
        height: 2%;
    }
    50%, 62.5%{
        opacity: 66%;
        width: 100%;
    }
    75%, 100%{
        opacity: 100%;
        height: 100%;
        display: flex;
    }
} */
