@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

@layer components {
    .main {
        height: calc(100% - calc(25% - 65px));

        @apply w-full;
    }

    .section {
        @apply w-full h-full;
    }

    .footer {
        @apply h-1/4 w-full;
    }
}