@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

.arrow.visible {
    opacity: 1;

    bottom: 5rem;
}

@layer components {
    /* #root:has(.header) {
        overflow: hidden;
    }

    #root:has(.header.click) {
        overflow: auto;
    } */

    .header {
        @apply
            flex
            h-full w-full
            min-w-[320px]
            p-2 sm:p-6 md:p-10 lg:p-14
            bg-pink-500;
    }

    .header-content {
        @apply 
            flex flex-col
            justify-center items-center
            w-full h-full 
            rounded
            bg-purple-500
            sm:overflow-x-visible
            overflow-x-scroll
            transition-all;
    }

    .main-header {
        @apply 
            m-1
            lg:text-9xl md:text-8xl sm:text-7xl text-5xl
            transition-all;
    }

    .sub-header {
        @apply
            m-1
            lg:text-6xl md:text-5xl sm:text-4xl text-2xl
            transition-all;
    }

    .navBar {
        @apply
            flex flex-wrap
            justify-center items-center
            gap-1
            h-1/2 w-full
            bg-green-600
            transition-all
            overflow-x-auto; 
    }

    .navBar-items {
        pointer-events: all;

        @apply 
            flex 
            items-center justify-center
            h-1/4 
            px-8 
            rounded-md 
            transition-all
            bg-slate-600;
    }

    .arrow {
        pointer-events: all;

        @apply absolute bottom-0 left-1/2 p-2 bg-yellow-400 border-[3px] border-blue-600 rounded-full opacity-0 transition-all;
    }

    .main {
        @apply relative h-full w-full lg:p-16 md:p-14 sm:p-12 p-4 bg-blue-900 transition-all;
    }

    .section {
        height: 100%;

        animation: fade-in 1s linear forwards;
        
        @apply flex flex-col items-center bg-amber-200 transition-all;
    }

    .section-header {
        @apply lg:text-6xl md:text-5xl sm:text-4xl text-3xl;
    }

    .main-arrow {
        @apply absolute p-1 top-1/2 bg-slate-300 hover:bg-slate-100 rounded-full lg:scale-[1.75] md:scale-[1.5] sm:scale-[1.3] lg:hover:scale-[1.8] md:hover:scale-[1.55] sm:hover:scale-[1.35] transition-all z-10;
    }

    .main-arrow.left {
        @apply lg:left-4 md:left-3 sm:left-2 left-1;
    }

    .main-arrow.right {
        @apply lg:right-4 md:right-3 sm:right-2 right-1;
    }

    .footer {
        @apply h-1/6 w-full bg-amber-600;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes open-up {

}